<!-- <% provide(:title, ) %> -->
<main>
  <div class="center jumbotron area_top">
    <div class="container">
      <p class="ttl">
        J-POPの有名曲を、<br>
        好きなコード進行で検索。
      </p>
      <p class="description">
        覚えたコードで他の曲が弾き語りできたり、<br>
        作曲や編曲のアイデアに活用したり。<br>
        好きな4つのコードで検索を開始できます。
      </p>
    </div>
  </div>
</main>
<footer>
  <div class="container">
  </div>
</footer>