@import 'bootstrap-sprockets';
@import 'bootstrap';

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 50px;
}
/*
section {
  overflow: auto;
}

textarea {
  resize: vertical;  
}
*/
.center {
  text-align: center;
  > .container {
    color: white;
    font-family: ヒラギノ角ゴシック;
    font-size: 2.0em;
  }
}

.ttl {
  margin-bottom: 10px;
}

.container {
  max-width: 1160px;
  padding: 0 40px;
  margin: 0 auto;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.0em;
  color: white;
  padding-top: 4px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
/*
header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

header > .container {
  display: flex;
  align-items: center;
}
*/

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* top */

.area_top {
  background-image: image-url('bg/bg_top.jpg');
  background-size: cover;
  height: 500px;
  display: flex;
  > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}